{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1>Create New</h1>
    <br>
    <form action="{% url 'create' %}" method="POST">
            {% csrf_token %}
            <input  type="text" name="title" placeholder="Title">
            <br><br>
            <textarea id="mdText" name="mdText" >Enter Markdown text
            </textarea>
            <br>
            <input type="submit" value="Create" />

    </form>
        

{% endblock %}
