{% extends "layout.html" %}

{% block body %}
    <div class ="center">
    <h2 >Register</h2>
    </div>
    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form class="form-inline" action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <table class = "center" >
        <div class="container">
            
            <tr>
                <td><label for="username" >Username :</label></td>
                <td><input  autofocus class="input-sm" id="username" type="text" name="username" placeholder="Username"></td>               
            </tr>                              
            <tr>
                <td><label for="forname" >First Name :</label></td>
                <td><input class="input-sm"  type="text" name="forname" placeholder="First name"></td>
            </tr>
            <tr>
                <td><label for="surname" >Surname :</label></td>
                <td><input class="input-sm"  type="text" name="surname" placeholder="Surname"></td>
            </tr>
            <tr>
                <td><label for="email" >Email :</label></td>
                <td><input class="input-sm" type="email" name="email" placeholder="Email Address"></td>
            </tr>
            <tr>
                <td><label for="phone" >Phone :</label></td>
                <td><input autocomplete="off" class="input-sm" id= "phone" onfocusout="phonevalidate(phone)" type="text" name="phone" pattern="[0-9]{11}" placeholder="11111222333"></td>
            </tr>
            <tr>
                <td><label for="password" >Password :</label></td>
                <td><input class="input-sm" type="password" name="password" placeholder="Password"></td>
            </tr>
            <tr>
                <td><label for="confirmation" >Confirm Password :</label></td>
                <td><input class="input-sm" type="password" name="confirmation" placeholder="Confirm Password"></td>
            </tr>
            <tr>
                <td><label for="dob" >Date of Birth :</label></td>
                <td><input class="input-sm" type="date" name="dob" placeholder="dd/mm/yyyy"></td>
            </tr>
            <tr>
                    <td>
                        <input class="form-check-input" type="radio" name="usertype" id="camperoption" value="camper">  
                        <label class="form-check-label" for="inlineRadio1">Camper</label>
                    </td>                           
                    <td>
                        <input class="form-check-input" type="radio" name="usertype" id="campsiteoption" value="campsite">
                        <label class="form-check-label" for="inlineRadio2">Campsite</label>
                    </td>        
            </tr>
            
            
            
        </table>
        <div  class ="center" style="text-align: center;"><input id = "register-button" class="button" type="submit" value="Register" style="margin:10px"> </div>
                
            

        
            
        
    </div>
    </form>

    <td>

        <table class = "center" >

<tr> <td>Already have an account? <a href="{% url 'login' %}">Log In here.</a></td></tr>
</table>
</div>
{% endblock %}