.container {
    border-style: solid;
    border-width: 1px;
    border-color:grey;
    padding: 10px;
}
.form-control{
    margin: 2px;
}
h1, h2 {
    text-align:center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
